.card { 
    max-width: 400px;
    margin: 150px auto;
    padding: 20px;
    border: none;
    border-radius: 8px;
    background-color: var(--background);
}

.logo {
  font-size: 1.8em;
  font-weight: 700;
  color: var(--primary);
  display: flex;
  align-items: center;
  padding: 15px;
}



.input {
    margin-bottom: 15px;
}

.input input {
    width: 100%;
    padding: 12px 25px;
    background-color: var(--background);
    color: var(--text-light);
    border-radius: var(--border-radius);
    font-weight: 400;
    letter-spacing: 1px;
    transition: background-color var(--transition-speed), transform var(--transition-speed);
    font-size: 17px;
    border: 1px solid var(--foreground);
}

.loginButton {
    width: 100%;
    padding: 12px 25px;
    background-color: var(--primary);
    color: var(--text-light);
    border-radius: var(--border-radius);
    font-weight: 600;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    letter-spacing: 1px;
    transition: background-color var(--transition-speed), transform var(--transition-speed);
    font-size: 17px;
    border: none;
    cursor: pointer
}

.loginButton:hover{
  background-color:var(--primary-hover);
  transform: translateY(-2px);
  color: var(--text-light);
}

.text {
    text-align: center;
    margin-top: 15px;
}

.text a {
    color: rgb(67, 144, 238);
}


@media (max-width: 768px) {
    .card{
        margin-top: 25%;
    }

    .logo{
        margin-bottom: 30px;
    }
    .input{
        margin-bottom: 30px;
    }
    .loginButton{
        margin-bottom: 30px;
    }
}