:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #936a3e;
  --secondary-color: #2196F3;
  --accent-color: #FFC107;
  --text-dark: #333;
  --text-light: #f4f4f4;
  --bg-light: #ffffff;
  --bg-dark: #2c3e50;
  --primary-hover: #674b2d;
  --border-radius: 8px;
  --box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  --transition-speed: 0.3s;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #202020;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.logo-icon {
  margin-right: 10px;
  font-size: 1.2em;
  color: var(--primary);
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
